*.class
RuberCore/src/main/resources/ruber/persistence_db/config.xml
RuberCore/src/test/resources/ruber/persistence_db/config.xml
RuberCore/target
out/
.idea/
*.png
*.MF
*.jpg
RuberCore/src/main/resources/
wgssSTU.jar
