#frame {
    -fx-background-color: #D9DEE4;
    -fx-pref-height: 800px;
    -fx-pref-width: 1280px;
}

#bannerPanel, #infoPanel {
    -fx-background-color: #044682;
}

Label {
    -fx-font-family: "Arial";
    -fx-text-fill: white;
}

#bannerPanel Label {
    -fx-font-size: 42px;
}

#infoPanel {
    -fx-border-width: 1px 0px 1px 0px;
    -fx-border-color: white;
    -fx-border-style: solid;
}

#infoPanel Label{
    -fx-font-size: 20px;
}

#date {
    -fx-padding: 0px 0px 5px 0px;
    -fx-font-size: 16px;
}

#time {
    -fx-font-size: 36px;
}