* {
    -fx-text-fill: white;
}

#teachingView, #professorView {
    -fx-font-family: "Arial";
    -fx-font-size: 15px;
    -fx-padding: 5px;
    -fx-border-width: 5px;
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-spacing: 5px;
}

#subjectName {
    -fx-font-size: 20px;
}

#professorName {
    -fx-font-size: 22px;
}

#selected {
    -fx-font-size: 30px;
    -fx-alignment: CENTER;
}

.unselected, #professorView {
    -fx-background-color: #1890F2;
}

.selected {
    -fx-background-color: #044682;
}

#teachingMessage, #replacementButton, #tabletLabel, #notificationWritten {
    -fx-text-fill: black;
    -fx-font-size: 24px;
}

#teachingMessage {
    -fx-text-fill: red;
    -fx-font-size: 30px;
}

#replacementButton {
    -fx-font-size: 36px;
    -fx-pref-height: 80px;
    -fx-pref-width: 600px;
}

.link {
    -fx-font-size: 30px;
    -fx-text-fill: black;
}

#replacementLabel {
    -fx-font-size: 45px;
    -fx-text-fill: black;
}

#signaturePanel {
    -fx-background-color: white;
}

#types {
    -fx-font-size: 30px;
    -fx-padding: 50px 0px 0px 300px;
}

#types RadioButton {
    -fx-padding: 10px;
    -fx-text-fill: black;
}